[user]
    email = justjae@amazon.com
	name = Justin Lee
[core]
	editor = vim
	excludesfile = /Users/username/.gitignore  # for macOS
	# excludesfile = /home/username/.gitignore  # for Cloud Desktop
	autocrlf = false
[push]
	default = simple
	autoSetupRemote = true
[credential]
	helper = store
[color]
	ui = auto
[pull]
	ff = only
[diff]
	tool = vimdiff
[difftool]
	prompt = true
[merge]
	tool = vimdiff
	renormalize = true
[init]
	defaultBranch = master
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
