[user]
	email = jjlee@dcscorp.com
	name = Justin Jaesung Lee
[core]
	editor = vim
	autocrlf = false
[push]
	default = simple
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[credential]
	helper = store
[color]
	ui = auto
[pull]
	ff = only
[diff]
	tool = vimdiff
[difftool]
	prompt = true
[merge]
	tool = vimdiff
[init]
	defaultBranch = master
